<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @funcionario.nome %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @funcionario.rua %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @funcionario.complemento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @funcionario.sexo %>
</p>

<p>
  <strong>Função:</strong>
  <%= @funcionario.funcao.nome %>
</p>

<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
